@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body {
  background: darkgrey;
}

footer {padding: 4em;}

footer p {font-size: .85em;}

.description {
  color: white;
}
